In [1]:
import pandas as pd

In [55]:
# tx = pd.read_excel('/Users/Danial/UMCUtrecht/Leuven/LEUVEN cohort_AS.xlsx')
hla_p = pd.read_excel('/Users/Danial/UMCUtrecht/Leuven/Original/HR typing patient.xlsx')
hla_d = pd.read_excel('/Users/Danial/UMCUtrecht/Leuven/Original/HR typing donor.xlsx')

In [56]:
patient_hla_cols = ['Rec1stA', 'Rec2ndA', 'Rec1stB', 'Rec2ndB', 'Rec1stC', 'Rec2ndC', '1stDRB', '2ndDRB', '1stDRW', '2ndDRW', '1stDQB', '2ndDQB', '1stDQA', '2ndDQA']
cols = ['TX number', 'Rec ID'] + patient_hla_cols
hla_patient = hla_p[cols].assign(
    patient_hla_typing = hla_p[patient_hla_cols].apply(lambda x: set([hla for hla in x]), axis=1)
).drop(patient_hla_cols, axis=1)
hla_patient

     TX number    Rec ID                                 patient_hla_typing
0         2725  84859230  {A*11:01, B*18:03, A*03:01, C*07:01, DQA1*05:0...
1         2726  71420038  {DRB1*04:01, A*02:01, B*44:02, DQB1*03:02, DRB...
2         2727  71612089  {DRB1*07:01, DRB3*01:01, DQA1*05:01, DQB1*02:0...
3         2728  74510751  {DRB1*07:01, C*16:01, DRB4*01:01, DQA1*05:05, ...
4         2729  83270124  {DQA1*01:02, DRB1*15:01, DRB3*01:01, DRB5*01:0...
..         ...       ...                                                ...
921       3857  66275884  {DRB1*07:01, B*57:01, DRB4*01:03, C*06:02, DQA...
922       3858  66646548  {DRB1*07:01, DRB3*01:01, A*32:01, C*07:01, A*0...
923       3859  64448509  {DQA1*01:02, B*35:03, A*03:01, DRB1*08:01, DQB...
924       3860  65415259  {A*31:01, DRB3*01:01, B*27:02, C*03:03, DQA1*0...
925       3861  70376405  {DQA1*01:02, DRB1*15:01, DRB5*01:01, B*44:02, ...

[926 rows x 3 columns]

In [57]:
donor_hla_cols = ['D1stA', 'D2ndA', 'D1stB', 'D2ndB', 'D1stC', 'D2ndC','1stDRB', '2ndDRB', '1stDRW', '2ndDRW', '1stDQB', '2ndDQB', '1stDQA', '2ndDQA']
cols = ['TX number', 'Don ET'] + donor_hla_cols
hla_donor = hla_d[cols].assign(
    donor_hla_typing = hla_d[donor_hla_cols].apply(lambda x: set([hla for hla in x]), axis=1)
).drop(donor_hla_cols, axis=1)
hla_donor

     TX number  Don ET                                   donor_hla_typing
0         2725   98468  {DRB1*07:01, B*35:03, A*03:01, C*07:01, DRB4*0...
1         2726   98494  {DRB1*04:01, A*02:01, B*44:02, DQB1*03:02, DRB...
2         2727   98536  {DRB1*07:01, DRB3*01:01, DQA1*05:01, DQB1*02:0...
3         2728   98536  {DRB1*07:01, DRB3*01:01, DQA1*05:01, DQB1*02:0...
4         2729   98671  {B*15:03, DRB1*04:01, DRB3*01:01, DQA1*05:01, ...
..         ...     ...                                                ...
921       3857  147280  {DQA1*01:02, DRB1*07:01, B*57:03, A*03:01, C*1...
922       3858  147280  {DQA1*01:02, DRB1*07:01, B*57:03, A*03:01, C*1...
923       3859  147279  {DRB1*04:01, DQA1*03:02, A*03:01, B*40:01, C*1...
924       3860  147302  {B*38:01, B*44:02, A*32:01, DQA1*01:03, C*05:0...
925       3861  147302  {B*38:01, B*44:02, A*32:01, DQA1*01:03, C*05:0...

[926 rows x 3 columns]

In [58]:
hla_patient.merge(hla_donor, on='TX number').to_csv('/Users/Danial/UMCUtrecht/Leuven/Processed/HLA Typings.csv')